<h3>Demo ngClass</h3>
<!-- Cách viết với nhiều điều kiện -->
<p
  class="text-center"
  [class]="{ 'bg-success': isActive, 'bg-warning': !isActive }"
>
  Cybersoft
</p>
<!-- Cách viết rút gọn khi có 1 điều kiện -->
<p class="text-center" [class.bg-primary]="isActive">Cybersoft 2</p>
<button (click)="isActive = !isActive">Ấn em đi anh ơi</button>

<h3>Demo ngStyle</h3>
<p
  style="text-align: center"
  [style]="{
    'background-color': color
  }"
>
  Cyber sunday
</p>

<div
  style="height: 200px; width: 200px"
  [style]="{
    'background-image': 'url(' + imgSrc + ')'
  }"
></div>

<div [innerHtml]="html"></div>
